<body>
  <main>
    <div class="page-owner">
      <% pages.forEach(function(page){ _%>
      <article class="page<%- page.show _%>" id="<%- page.pageId _%>">
        <%- page.content _%>
      </article>
      <% }); _%>
    </div>
  </main>

  <header class="index">
    <form class="search-field">
      <input id="search-text" type="text" />
      <div class="search-buttons">
        <button id="search-button">検索</button>
        <button id="search-reset-button">リセット</button>
      </div>
    </form>

    <hr />

    <% headerItems.forEach(function(headerItem){ _%>
    <div>
      <ul>
        <li>
          <a href="#<%- headerItem.ageId _%>"><%- headerItem.pageId _%></a>
        </li>
        <% headerItem.anchors.forEach(function(anchor) { _%>
        <li><a href="#<%- anchor.slug _%>"><%- anchor.title _%></a></li>
        <% }); _%>
      </ul>
    </div>
    <% }); %>
  </header>
</body>
